body {
    padding-top: 60px;
}

@media (min-width: 768px) and (max-width: 992px) {
    body {
        padding-top: 110px;
    }
}

@media (max-width: 768px) {
    .navbar-text {
        padding-left: 15px;
    }
}

code {
    background: none;
}

pre {
    background: none;
    border-style: none;
}

.clickable-row:hover {
    cursor: pointer;
}

.paste {
    white-space: pre;
}
