<!doctype html>
<html lang="en">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/cosmo/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='highlight.css') }}"rel="stylesheet">
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
        <title>cr5315 Paste</title>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('main') }}">Paste</a>
                </div>
                
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <p class="nav navbar-text">{{ date }}</p>
                        <p class="nav navbar-text">{{ expires }}</p>
                        {% if language %}
                        <p class="nav navbar-text">{{ language }}</p>
                        {% endif %}
                        {% if title %}
                        <p class="nav navbar-text">{{ title }}</p>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% if show_new_button %}
                        <li><a href="{{ url_for('main') }}">New Paste</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('list_pastes') }}">All Pastes</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        <div class="container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{category}}">
                <p>{{message}}</p>
            </div>
            {% endfor %}
            
            {% block body %}{% endblock %}
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block scripts %}{% endblock %}
    </body>
</html>